// Footer
footer.page-footer.font-small.blue
    // Copyright
    .footer-copyright.text-center.py-3 © 2019 Copyright:
        a.footerLink(href='#')  Cantaloupe

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src='/javascripts/js/bootstrap.js')