extends layout

block content
    section.jumbotron.text-center
            h1.jumbotron-heading Attendance Management
            p.lead.text-muted
            | Attendance management and tracking uses a cumbersome outdated process where it becomes more inefficient as your audience grows, but Cantaloupe has a solution! 

    h3.h3Title.color  &nbsp; Why Cantaloupe?
    hr

    .row.align-items-center
        .col-lg-4.our-team
            center
                .rounded-circle
                    i.fas.fa-fighter-jet.fa-7x
                h2 Fast
                p The Cantaloupe check in process is fast and easy! All you need is your smartphone -- no clicker, pencil or paper!

        .col-lg-4.our-team
            center
                .rounded-circle
                    i.fas.fa-shield-alt.fa-7x
                h2 Secure
                p Cantaloupe will use bluetooth technology to validate location and dual athentication for attendance check-in records. Please visit our FAQ for more details. 

        .col-lg-4.our-team
            center
                .rounded-circle
                    i.fas.fa-user-friends.fa-7x
                h2 Flexible
                p Cantaloupe offers attendance management for everyone! Professor and students are able to manage attendances for any course and extracurricular activities!
    br
    br

    h3.h3Title.color  &nbsp; Meet the Team!
    hr
    // Per http://bestjquery.com/tutorial/our-team/demo74/
    .container
    .row
        .col-md-4.col-sm-6
            .our-team
                .pic
                    img(src='/images/download.jpg')
                ul.social
                    li
                        a.fab.fa-linkedin(href='#')
                    li
                        a.fab.far.fa-envelope(href="#")
                .team-content
                    h3.title Josiel
                    span.post Web Developer
        .col-md-4.col-sm-6
            .our-team
                .pic
                    img(src='/images/download.jpg')
                ul.social
                    li
                        a.fab.fa-linkedin(href='#')
                    li
                        a.fab.far.fa-envelope(href="#")
                .team-content
                    h3.title Nick
                    span.post IOS Developer
        .col-md-4.col-sm-6
            .our-team
                .pic
                    img(src='/images/download.jpg')
                ul.social
                    li
                        a.fab.fa-linkedin(href='#')
                    li
                        a.fab.far.fa-envelope(href="#")
                .team-content
                    h3.title Max
                    span.post Android Developer
    br

    .row
        .col-md-4.col-sm-6.mr-auto
            .our-team
                .pic
                    img(src='/images/download.jpg')
                ul.social
                    li
                        a.fab.fa-linkedin(href='#')
                    li
                        a.fab.far.fa-envelope(href="#")
                .team-content
                    h3.title Daniel
                    span.post Product Manager
        .col-md-4.col-sm-6.ml-auto
            .our-team
                .pic
                    img(src='/images/download.jpg')
                ul.social
                    li
                        a.fab.fa-linkedin(href='#')
                    li
                        a.fab.far.fa-envelope(href="#")
                .team-content
                    h3.title Chris
                    span.post Backend Developer
    br
    br

    h3.h3Title.color  &nbsp; Contact Us!
    hr


    include footer

