doctype html
html
  head
    
    //Title & Icon
    title #{title}
    link(rel='shortcut icon', type='image/x-icon', href='/Cantaloupe-UI/ios/cantaloupe-logo.ico')

    //CSS-fontawesome, bootstrap
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")

    script(src='/javascripts/js/bootstrap.js')
    script(src='/javascripts/script.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#', style= 'color: #FC9221;') Cantaloupe | #{title}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          if user
            li.nav-item(class=(title=='Dashboard' ? 'active' : ''))
              a.nav-link(href='/users/dashboard') Dashboard
          if !user
            li.nav-item(class=(title=='About' ? 'active' : ''))
              a.nav-link(href='/') About
        ul.navbar-nav.ml-auto
          if !user
            li.nav-item(class=(title=='Register' ? 'active' : ''))
              a.nav-link(href='/users/register') Register
            li.nav-item(class=(title=='Login' ? 'active' : ''))
              a.nav-link(href='/users/login') Login
        if user
          ul.nav.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/users/logout') Logout
    .container
      br
      block content

    script(src='/javascripts/js/bootstrap.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

