
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Generated ZIP packages
*.zip

# Virtual Environment
app/venv

# Local Dev Database
*.sqlite

# PyCharm
.idea/*

# DB Configuration (DO NOT REMOVE unless you REALLY know what you're doing)
app/db-config.ini