alembic==1.0.7
argcomplete==1.9.3
bcrypt==3.1.4
boto3==1.9.125
botocore==1.12.125
certifi==2019.3.9
cffi==1.12.1
cfn-flip==1.2.0
chardet==3.0.4
Click==7.0
docutils==0.14
durationpy==0.5
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.7
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.3.2
future==0.16.0
hjson==3.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
kappa==0.6.0
lambda-packages==0.20.0
Mako==1.0.7
MarkupSafe==1.1.0
placebo==0.9.0
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.6.1
python-editor==1.0.4
python-slugify==1.2.4
PyYAML==5.1
requests==2.21.0
s3transfer==0.2.0
six==1.12.0
SQLAlchemy==1.2.18
toml==0.10.0
tqdm==4.19.1
troposphere==2.4.6
Unidecode==1.0.23
urllib3==1.24.1
Werkzeug==0.15.3
wsgi-request-logger==0.4.6
zappa==0.48.2
